.gallery
{
    width: 100%;
}

.gallery img
{
width: 180px;
border: 1px solid #bbb;
transition: opacity 300ms ease-in-out;
opacity: 0.7;
}

.gallery img:hover
{
    border: 1px solid black;
    opacity: 1.0;
}

figure.item
{
    float: left;
    width: 180px;
    text-align: center;
}

figure
{
    margin: 25px;
}

a img
{
    padding: 3px;
}

.caption
{
  display: block;  
  font-style: italic;
  font-style: 0.9em;
}